
#Enviroment variables
.env
*.env

#Virtual enviroments
venv/
.venv/
.venv

#Pychache
__pycache__/

*.pyc

#Node 
node_modules

#Serverless Framework
.Serverless

# IDE / OS specific
.vscode/
.DS_Store

